.idea/
.DS_Store
.history/
.nyc_output/
.vscode/
*.lock
*.sum
vendor/
*.iml
target/
.settings/
.classpath
.project
.history/
coverage.html
coverage.out

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj
node_modules/
coverage/
