.idea/
.DS_Store
.history/
.nyc_output/
.vscode/
*.lock
*.sum
vendor/
*.iml
target/
.settings/
.classpath
.project
.history/

# Tea
libraries
.libraries.json

# Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
*.xcodeproj
